<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonDylib copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CommonDylib copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CommonDylib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DylibTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2349D1EA1D0051E5007C2267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C2CB8E1D00629A0041A3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C2CB951D0063870041A3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C2CB9C1D00638D0041A3F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
